.profile-avatar {
  display: flex;
  justify-content: flex-start;
  height: 50px;
}
.avatar-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0.5rem;
}
.avatar-btn-wrapper {
  display: flex;
  gap: 0.5rem;
  color: rgb(111, 111, 245);
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}

.username {
  font-weight: bold;
  margin: 0;
}
.name {
  font-weight: bold;
  color: gray;
  text-align: justify;
  margin: 0;
}
