.profile-avatar {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  width: 300px;
  padding: 0.5rem;
}
.avatar-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 0.5rem;
  width: 250px;
}
.avatar-btn-wrapper {
  color: rgb(111, 111, 245);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: end;
}

.username {
  font-weight: bold;
  margin: 0;
  padding-right: 70px;
}
.name {
  font-weight: bold;
  color: gray;
  margin: 0;
  text-align: start;
}
