.left-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;
}
.left-sidebar-linkName {
  padding-bottom: 12px;
}
.left-sidebar-icon {
  padding-bottom: 14px;
}
/* icon */
.sidebar-icon {
  font-size: 1.8rem;
  color: black;
}
.sidebar-icon:hover {
  font-size: 1.9rem;
  background-color: rgb(233, 221, 221);
  border-radius: 6px;
  transform: 1s;
  transition: 2s;
}
