.left-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;
}
.left-sidebar-linkName {
  text-align: center;
  padding-bottom: 9 px;
}
.left-sidebar-icon {
  text-align: center;
}
