.medium {
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
}
.small {
  border-radius: 50%;
  min-width: 30px;
  height: 30px;
  padding: 0 5px;
}
.large {
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
}
.sidebar-icon-profile {
  display: flex;
  gap: 5px;
}
.content-avatar-userName {
  cursor: pointer;
}
