.contents-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53%;
  max-height: 100%;
  justify-content: center;
}
.content-page-avatar-wrapper {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  width: 90%;
  gap: 1rem;
}
.content-page-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.content-avatar-wrapper {
  margin: 0;
  width: 60px;
}
.content-page-imageCard-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
