.content-card-img {
  width: 80%;
  height: 500px;
  border-radius: 4px;
}
.imgCard-avatar {
  border-radius: 50%;
  min-width: 50px;
  height: 50px;
}
.imgCard-avatar-wrapper {
  display: flex;
  padding: 0.5rem 3.6rem 1.3rem;
  align-items: center;
  gap: 4px;
  width: 575px;
}
.cardImg-post-time-text {
  color: grey;
  list-style: decimal;
}
.image-card-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cardImg-toggle-btn-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}
.imgCard-toggle-btn {
  border: hidden;
  background-color: white;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  padding-right: 18px;
  height: 15px;
}
.userName {
  width: 100px;
}
.like-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
.save-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
.cardImg-bottom-btns-wrapper {
  display: flex;
  width: 550px;
  padding-left: 4.5rem;
  padding-top: 1rem;
  justify-content: start;
  gap: 0.5rem;
}
.save-btn-wrapper {
  display: flex;
  justify-content: end;
  width: 90%;
}
.save-btn:hover,
.like-btn:hover,
.message-btn:hover,
.share-btn:hover {
  color: grey;
}
.message-btn {
  font-size: 1.6rem;
  cursor: pointer;
}
.share-btn {
  font-size: 1.4rem;
  cursor: pointer;
}
.current-likes {
  text-align: left;
  padding-left: 4.4rem;
  padding-top: 4px;
}
.card-img-discription {
  text-align: left;
  padding-left: 4.4rem;
  padding-top: 4px;
}
.view-comments-btn {
  text-align: left;
  padding-left: 4.4rem;
  padding-top: 4px;
  background-color: white;
  border: hidden;
  color: gray;
  cursor: pointer;
}
.comment-input {
  text-align: left;
  padding-left: 4.4rem;
  padding-top: 4px;
  background-color: white;
  border: hidden;
  width: 20%;
  height: 10%;
}
.comment-input:focus {
  outline: none;
}
.image-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
}
