.landing-page-container {
  display: flex;
  align-items: flex-start;
  width: fit-content;
}

@media (min-width: 900px) {
  .landing-page-left-IconSidebar-wrapper {
    display: none;
  }
}

@media (max-width: 650px) {
  .landing-page-left-IconSidebar-wrapper {
    display: none;
  }
}
