.landing-page-left-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: flex-start;
  text-align: start;
  padding: 2rem;
  height: 100vw;
}
.sidebar-text-img {
  width: 70%;
}
.Left-sidebar-links-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.l-sidebar-links {
  display: flex;
  justify-content: start;
  text-decoration: none;
  color: var(--tertiary);
  padding: 1rem 0;
  font-size: larger;
  padding-left: 6px;
  text-align: center;
}
.sidebar-icon {
  font-size: larger;
  padding-right: 6px;
}
.l-sidebar-links:hover {
  background-color: var(--secondary);
  border-radius: 6px;
  padding-left: 6px;
  transition: 0.1s;
}
