.landing-page-left-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: flex-start;
  text-align: start;
  padding: 2rem;
  height: 100vw;
  background-color: white;
}
.sidebar-text-img {
  width: 70%;
}
.Left-sidebar-links-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.l-sidebar-links {
  display: flex;
  justify-content: start;
  text-decoration: none;
  color: var(--tertiary);
  padding: 1rem 0;
  font-size: larger;
  padding-left: 6px;
  text-align: center;
}
.sidebar-icon {
  font-size: larger;
  padding-right: 6px;
  padding-top: 3px;
}
.l-sidebar-links:hover {
  background-color: var(--secondary);
  border-radius: 6px;
  padding-left: 6px;
  transition: 0.1s;
}
.left-icon-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100px;
  padding: 0 1rem;
}
.left-icon-sidebar-icon {
  font-size: 2rem;
}
/* left-icon-sidebar */
.left-icon-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70px;
  height: 100vh;
  border: 1px solid gray;
  padding-top: 2rem;
}
