.message-page-main-container {
  display: flex;
  height: fit-content;
  width: 450px;
  height: 100vh;
  justify-content: flex-start;
  border: 1px solid gray;
}

.left-iconSidebar-wrapper {
  border: 1px solid gray;
  width: 13%;
  height: 100vh;
}
.userName-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.3rem;
  align-items: center;
}
.edit-icon {
  font-size: larger;
  border: 1px solid gray;
}
.message-links-wrapper {
  display: flex;
  align-items: center;
  height: 10%;
  justify-content: space-between;
  padding: 0.3rem;
  border-bottom: 1px solid gray;
}
.userName-and-links-main-wrapper {
  width: 100%;
}
.message-link {
  text-decoration: none;
  color: black;
  font-size: large;
}
.message-page-user-list-wrapper {
  width: 100%;
  padding: 1rem;
  gap: 5px;
}
