.profile-page-main-wrapper {
  display: flex;
  width: 100%;
  height: 100vw;
}
.profile-page-left-sidebar-page-wrapper {
  display: flex;
  width: 300px;
  justify-content: center;
  height: 100vw;
  border: 1px solid gray;
}
.profile-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 4rem;
  gap: 3rem;
  padding-left: 5rem;
}
.profileAvatar-wrapper {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: start;
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile-page-name-userName-wrapper {
  display: flex;
  gap: 1rem;
}

.profile-page-userName {
  position: relative;
  top: -18px;
  font-size: 1.5rem;
  font-weight: 600;
}
.profile-post-followers-following-counting-wrapper {
  display: flex;
  gap: 1rem;
}
.post-btn,
.followers-btn,
.following-btn {
  padding: 0.1rem 1.5rem;
  height: 40px;
  border-radius: 9px;
  cursor: pointer;
  font-size: large;
  background: transparent;
  border: hidden;
}
.profile-main-btn-wrapper {
  left: 19rem;
  top: -18rem;
  position: relative;
}
