.right-sidebar-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: flex-start;
  text-align: start;
  padding: 2rem;
  height: 100vw;
}
.see-all-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.see-all-btn {
  text-align: left;
  padding-left: 4.4rem;
  padding-top: 4px;
  background-color: white;
  border: hidden;
  color: black;
}
.see-all-btn:hover {
  color: grey;
}
.suggested-for-you-text {
  font-weight: 500;
  font-size: 15px;
  color: gray;
}
.right-sidebar-users-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.4rem;
  width: 300px;
  gap: 1.3rem;
  margin-top: 1rem;
}
