.search-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vw;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  border: 1px solid rgb(190, 179, 179);
}
.search-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
}
.search-user-list-wrapper {
  display: flex;
  width: 400px;
  justify-content: flex-start;
  border-top: 1px solid rgb(190, 179, 179);
}
.search-page-input {
  background-color: white;
  border: hidden;
  padding: 0.5rem 0;
  width: 380px;
  text-align: start;
  background-color: gainsboro;
  font-size: large;
  padding-left: 7px;
  border-radius: 9px;
}
.search-page-input:focus {
  outline: none;
}
.recent-text {
  padding-left: 8px;
  text-align: justify;
}
.users-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 400px;
}
.no-recent-search-text-wrapper {
  display: flex;
  width: 400px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.sidebar-close-input-btn {
  position: relative;
  top: -26px;
  left: 350px;
  cursor: pointer;
}
