.signIn-page-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.signInpage-img-wrapper {
  display: flex;
  justify-content: flex-end;
  min-width: 50%;
  font-size: large;
}
.sign-in-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding-top: 2rem;
  padding: 2rem;
  justify-content: flex-start;
}
.sign-in-page {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary);
  width: 50%;
  gap: 1rem;
  padding: 2rem;
  margin-bottom: 0.5rem;
}
.sign-up-link-wrapper {
  text-align: center;
  width: 50%;
  display: flex;
  border: 1px solid var(--secondary);
  max-height: 2%;
  gap: 0.4rem;
  padding: 2rem;
  overflow-inline: scroll;
}
.sign-in-page-img {
  font-size: large;
}
.insta-heading-landing-page {
  padding: 1rem 2rem;
}

.log-in-btn {
  background-color: var(--primary);
  font-size: 16px;
  color: white;
  border: hidden;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 7px;
}
.facebook-link {
  font-size: 14px;
  color: blue;
  padding: 0.4rem 0.3rem;
  text-decoration: none;
  text-align: center;
  margin: 0;
}
.login-as-guest-btn{
  background-color: var(--primary);
  font-size: 16px;
  color: white;
  border: hidden;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 7px;
}
.forget-link,
.sign-up-link {
  text-decoration: none;
  color: var(--tertiary);
  font-size: 14px;
}
.sign-up-link {
  text-decoration: none;
  color: blue;
}
@media (max-width: 850px) {
  .signInpage-img-wrapper {
    display: none;
  }
  .sign-in-page-wrapper {
    min-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .sign-up-link-wrapper {
    width: 100%;
    align-items: center;
    border: hidden;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .sign-in-page {
    width: 60%;
    text-align: center;
    border: hidden;
  }
  .sign-up-link-wrapper {
    min-width: 90%;
    align-items: center;
    justify-content: center;
  }
}
